.container {
  position: relative;
  height: 100px;
  background-color: blueviolet;
  color: white;
}

.one {
  position: relative;
  z-index: 1;
  background-color: burlywood;
  padding: 10px;
  width: 200px;
}

.two {
  position: absolute;
  z-index: 2;
  background-color: greenyellow;
  top: 10px;
  left: 40px;
  padding: 30px;
  width: 200px;
}
